**/.godot/
demo01/cteate/.godot/global_script_class_cache.cfg
demo01/cteate/.godot/editor/editor_layout.cfg
demo01/cteate/.godot/editor/filesystem_cache8
demo01/cteate/.godot/editor/filesystem_update4
demo01/cteate/.godot/editor/gameover.wav-6c7e7f31c5162c2a52f94b5261cce8b1.sample-folding-a2dfa2db1adb4f251cc49fea7aac781a.cfg
demo01/cteate/.godot/editor/House In a Forest Loop.ogg-2b29eb4e4577a4a7d74aaff4990f466f.oggvorbisstr-folding-1fedc5509ba3b7f65b5a880d69aba2f8.cfg
demo01/cteate/.godot/editor/Player.tscn-editstate-9f82e9abc930209ed28c98f61bb179e0.cfg
demo01/cteate/.godot/editor/Player.tscn-folding-9f82e9abc930209ed28c98f61bb179e0.cfg
demo01/cteate/.godot/editor/project_metadata.cfg
demo01/cteate/.godot/editor/script_editor_cache.cfg
demo01/cteate/.godot/editor/Xolonium-Regular.ttf-90cce59875d929dc251c8ff575f9c62b.fontdata-folding-7d0ba9fb5c29c46dc62ecafe77d9d8b3.cfg
demo01/cteate/.godot/imported/enemyFlyingAlt_1.png-54857663a42f7fd8b3370ddbd16778dd.md5
demo01/cteate/.godot/imported/enemyFlyingAlt_2.png-0b3dab08a9ca8f06caa094f47875deda.md5
demo01/cteate/.godot/imported/enemySwimming_1.png-a427b65793b9b5985224773ccf94f88a.md5
demo01/cteate/.godot/imported/enemySwimming_2.png-9af048b49cca092a6572de71bbadbd84.md5
demo01/cteate/.godot/imported/enemyWalking_1.png-99809fb14953ed95cc41dce9c52a053f.md5
demo01/cteate/.godot/imported/enemyWalking_2.png-97b1fd70073bbfc0cdce4e9954fc4099.md5
demo01/cteate/.godot/imported/gameover.wav-6c7e7f31c5162c2a52f94b5261cce8b1.md5
demo01/cteate/.godot/imported/gameover.wav-6c7e7f31c5162c2a52f94b5261cce8b1.sample
demo01/cteate/.godot/imported/House In a Forest Loop.ogg-2b29eb4e4577a4a7d74aaff4990f466f.md5
demo01/cteate/.godot/imported/House In a Forest Loop.ogg-2b29eb4e4577a4a7d74aaff4990f466f.oggvorbisstr
demo01/cteate/.godot/imported/icon.svg-218a8f2b3041327d8a5756f3a245f83b.md5
demo01/cteate/.godot/imported/playerGrey_up1.png-a3a4a20dc8aeb7aef3078bbc66425a9c.md5
demo01/cteate/.godot/imported/playerGrey_up2.png-a2c0ffd511fa6b9e35fd330aa1db1b0c.md5
demo01/cteate/.godot/imported/playerGrey_walk1.png-68cc9d1834a4c1002524b03399b9f857.md5
demo01/cteate/.godot/imported/playerGrey_walk2.png-9862eb0f0d3db0b20823dde2c96b5383.md5
demo01/cteate/.godot/imported/Xolonium-Regular.ttf-90cce59875d929dc251c8ff575f9c62b.fontdata
demo01/cteate/.godot/imported/Xolonium-Regular.ttf-90cce59875d929dc251c8ff575f9c62b.md5
demo01/cteate/.godot/global_script_class_cache.cfg
demo01/cteate/.godot/scene_groups_cache.cfg
demo01/cteate/.godot/uid_cache.bin
demo01/cteate/.godot/editor/create_recent.Node
demo01/cteate/.godot/editor/editor_layout.cfg
demo01/cteate/.godot/editor/filesystem_cache8
demo01/cteate/.godot/editor/filesystem_update4
demo01/cteate/.godot/editor/gameover.wav-6c7e7f31c5162c2a52f94b5261cce8b1.sample-folding-a2dfa2db1adb4f251cc49fea7aac781a.cfg
demo01/cteate/.godot/editor/House In a Forest Loop.ogg-2b29eb4e4577a4a7d74aaff4990f466f.oggvorbisstr-folding-1fedc5509ba3b7f65b5a880d69aba2f8.cfg
demo01/cteate/.godot/editor/Player.tscn-editstate-9f82e9abc930209ed28c98f61bb179e0.cfg
demo01/cteate/.godot/editor/Player.tscn-folding-9f82e9abc930209ed28c98f61bb179e0.cfg
demo01/cteate/.godot/editor/project_metadata.cfg
demo01/cteate/.godot/editor/recent_dirs
demo01/cteate/.godot/editor/script_editor_cache.cfg
demo01/cteate/.godot/editor/Xolonium-Regular.ttf-90cce59875d929dc251c8ff575f9c62b.fontdata-folding-7d0ba9fb5c29c46dc62ecafe77d9d8b3.cfg
demo01/cteate/.godot/imported/enemyFlyingAlt_1.png-54857663a42f7fd8b3370ddbd16778dd.md5
demo01/cteate/.godot/imported/enemyFlyingAlt_2.png-0b3dab08a9ca8f06caa094f47875deda.md5
demo01/cteate/.godot/imported/enemySwimming_1.png-a427b65793b9b5985224773ccf94f88a.md5
demo01/cteate/.godot/imported/enemySwimming_2.png-9af048b49cca092a6572de71bbadbd84.md5
demo01/cteate/.godot/imported/enemyWalking_1.png-99809fb14953ed95cc41dce9c52a053f.md5
demo01/cteate/.godot/imported/enemyWalking_2.png-97b1fd70073bbfc0cdce4e9954fc4099.md5
demo01/cteate/.godot/imported/gameover.wav-6c7e7f31c5162c2a52f94b5261cce8b1.md5
demo01/cteate/.godot/imported/gameover.wav-6c7e7f31c5162c2a52f94b5261cce8b1.sample
demo01/cteate/.godot/imported/House In a Forest Loop.ogg-2b29eb4e4577a4a7d74aaff4990f466f.md5
demo01/cteate/.godot/imported/House In a Forest Loop.ogg-2b29eb4e4577a4a7d74aaff4990f466f.oggvorbisstr
demo01/cteate/.godot/imported/icon.svg-218a8f2b3041327d8a5756f3a245f83b.md5
demo01/cteate/.godot/imported/playerGrey_up1.png-a3a4a20dc8aeb7aef3078bbc66425a9c.md5
demo01/cteate/.godot/imported/playerGrey_up2.png-a2c0ffd511fa6b9e35fd330aa1db1b0c.md5
demo01/cteate/.godot/imported/playerGrey_walk1.png-68cc9d1834a4c1002524b03399b9f857.md5
demo01/cteate/.godot/imported/playerGrey_walk2.png-9862eb0f0d3db0b20823dde2c96b5383.md5
demo01/cteate/.godot/imported/Xolonium-Regular.ttf-90cce59875d929dc251c8ff575f9c62b.fontdata
demo01/cteate/.godot/imported/Xolonium-Regular.ttf-90cce59875d929dc251c8ff575f9c62b.md5
